---
import Base from '../layouts/Base.astro';
---
<Base>
  <div class="py-12">
    <p>Routing is handled by Azure Static Web Apps. Visit <a class="underline" href="/en/">/en/</a> or <a class="underline" href="/ja/">/ja/</a>.</p>
  </div>
</Base>
